<%= render 'layouts/banner' %>

<div class="main-page" style = "background-color: white;">
  <div class="container title">
          <% @cocktails.each do |cocktail| %>
    <div class="card">

          <%= link_to "#{cocktail.name}", cocktail_path(cocktail) %>
    </div>
          <% end %>
  </div>
</div>
