.shake {
  font-weight: lighter;
  text-decoration: none;
  background-color: rgb(45,45,45);
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  padding: 15px 25px;
}
.shake:hover {
  opacity: 0.8;
}
