


  <div class="layout-foreground">
    <div id="blurred-image-container">
        <div class="img-src"></div>
        <div class="img-src blurred-image"></div>
    </div>
    <div class="content">
      <div class="banner">
    <div class="banner-content">
      <div class="banner-img"></div>
      <div class="blur">
      <h1>Your cocktails. <br>Reinvented.</h1>
      </div>
      <div class="text">
        With over 150 years of experience, spanning 6 generations of <i>'Master Barmen'</i>, we have distilled the finest methods for creating premium cocktails. Welcome to our website. This is where your boozy night really begins.
      </div>
    </div>
  </div>
    </div>
</div>
