<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
   <%= image_tag "logo.png" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <div class="navbar-wagon-item btn-medium">
      <%= link_to "Add a new cocktail", new_cocktail_path %>
    </div>
    <div class="navbar-wagon-item btn-medium">
      <%= link_to "View all cocktails", cocktails_path %>
    </div>

  </div>
</div>
